<template>
  <div id="app" class="container-fluid">
    <h1 class="titre">Dites-nous votre trajet</h1>
    <div class="row">
      <div class="col-12">
        <Recognition/>
      </div>
    </div>
  </div>
</template>

<script>
import Recognition from "./Recognition";

export default {
  name: 'App',
  components: {
    Recognition
  }
}
</script>

<style>
#app {
  background-color: #f7f7f7;
  font-size: 1.3rem;
  color: rgb(240, 129, 0);
  height: 100vh;
}

.titre {
  text-align: center;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
</style>
