<template>
  <div id="map"></div>
</template>

<script>

export default {
  name: "Map",
  data() {
    return {
      map: null,
    }
  },

  methods: {
    initMap: function () {
      this.map = new this.$googleMap.maps.Map(document.getElementById("map"), {
        center: {lat: 46.939193, lng: 2.209667},
        zoom: 5.5,
      });
      this.$directionsRenderer.setMap(this.map);
    },
  },
  async mounted() {
    this.initMap()
  },
}
</script>

<style scoped>
#map {
  height: 45vh;
  width: 100%;
  margin: 2rem auto 2rem auto;
  border: 0.3rem solid rgb(240, 129, 0);
  border-radius: 25px;
}
</style>
