<template>
  <div id="box-recognition">
    <div id="case-text"></div>
    <Map/>
    <b-button
        @click.stop="gest()"
        class="button-speaking"
        :color="!toggle ? 'grey' : speaking ? 'red' : 'red darken-3'"
        :class="{ 'animated infinite pulse': toggle }"
    >
      {{ state }}
    </b-button>
<!--    <span id='start'>Départ: {{ begin }}</span>
    <span id='end'>Arrivée: {{ end }}</span>-->
  </div>
</template>

<script>
import Map from "./Map";
let SpeechRecognition =
    window.SpeechRecognition || window.webkitSpeechRecognition;
let recognition = new SpeechRecognition();

import axios from 'axios'

export default {
  name: "Test",
  components: {Map},
  props: {
    lang: {
      type: String,
      default: "fr-FR",
    }
  },
  data() {
    return {
      active: false,
      element: undefined,
      error: false,
      speaking: false,
      toggle: false,
      runtimeTranscription: "",
      sentences: [],
      state: "start",
      start: false,
      text: '',
      begin: '',
      end: '',
    };
  },
  methods: {
    calculateAndDisplayRoute: function () {
      this.$directionsService.route(
          {
            origin: {
              query: this.begin,
            },
            destination: {
              query: this.end,
            },
            travelMode: this.$googleMap.maps.TravelMode.DRIVING,
          },
          (response, status) => {
            if (status === "OK") {
              this.$directionsRenderer.setDirections(response);
            } else {
              window.alert("Directions request failed due to " + status);
            }
          }
      );
    },
    getOriginArrival() {
      axios.post('http://127.0.0.1:5000/predict', {
        text: this.text
      }).then((response) => {
        this.begin = response.data.class[0]
        this.end = response.data.class[1]
        this.calculateAndDisplayRoute()
      })
    },
    checkCompatibility() {
      if (!recognition) {
        this.error =
            "Speech Recognition is not available on this browser. Please use Chrome or Firefox";
      }
    },
    gest() {
      if (this.start === false) {
        this.startSpeechRecognition();
        this.start = true;
      } else {
        this.endSpeechRecognition();
      }
    },
    endSpeechRecognition() {
      recognition.stop();
      this.toggle = false;
      this.$emit("speechend", {
        sentences: this.sentences,
        text: this.sentences.join(". "),
      });
      this.start = false;
    },
    startSpeechRecognition() {
      this.state = "stop";
      let started = false;
      if (!recognition) {
        console.error("Speech Recognition is not available on this browser. Please use Chrome or Firefox");
        return false;
      }
      this.toggle = true;
      recognition.lang = this.lang;
      recognition.interimResults = true;

      recognition.addEventListener("speechstart", () => {
        this.speaking = true;
      });

      recognition.addEventListener("speechend", () => {
        this.speaking = false;
      });

      recognition.addEventListener("result", (event) => {
        const text = Array.from(event.results)
            .map((result) => result[0])
            .map((result) => result.transcript)
            .join("");
        this.runtimeTranscription = text;
      });

      recognition.addEventListener("end", () => {
        console.log("end");
        this.state = "start";
        if (this.runtimeTranscription !== "") {
          this.text = this.runtimeTranscription;
          this.element = document.getElementById("case-text");
          this.element.innerHTML = this.runtimeTranscription;
          this.getOriginArrival();
        }
        this.runtimeTranscription = "";
        this.endSpeechRecognition();
      });
      if (started === false) {
        recognition.start();
      }
    },
  },
  mounted() {
    this.checkCompatibility();
  },
};
</script>

<style scoped>
#box-recognition {
  display: grid;
  place-items: center;
}

#case-text {
  display: grid;
  place-items: center;
  padding: 10px;
  width: 100%;
  min-height: 20vh;
  background-color: white;
  border: 0.3rem solid rgb(240, 129, 0);
  border-radius: 25px;
  font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  text-align: center;
}

.button-speaking {
  border-radius: 50%;
  background-color: rgb(240, 129, 0);
  color: white;
  text-transform: uppercase;
  border-color: rgb(240, 129, 0);
  width: 5rem;
  height: 5rem;
}

</style>
